################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/репозиторій2/v16
*.sln
*.filters
*.user
*.vcxproj
